Repository Boys-Not-Found/rest-client-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, npm run lint:fix, npm run scss:fix, npm run test

feat: modify history page
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/(privat)/history/HistoryList.tsx
  src/app/[locale]/(privat)/history/page.tsx
  src/middleware.ts
Due: npm run format:fix, npm run lint:fix

refactor: merge lazy loading
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/history/_components/HistoryContent.tsx
  src/app/[locale]/(privat)/history/_components/HistoryList.tsx
  src/app/[locale]/(privat)/history/lazyPage.tsx
  src/app/[locale]/(privat)/history/page.tsx
  src/app/[locale]/(privat)/history/pageOLD.tsx
Due: npm run format:fix, npm run lint:fix

feat: add fn for saving history
  src/app/[locale]/(privat)/history/page.tsx
  src/app/[locale]/(privat)/history/pageOLD.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/app/api/history/route.ts
Due: npm run format:fix, npm run lint:fix

feat: update history&analytics
  src/app/[locale]/(privat)/history/_components/HistoryContent.tsx
  src/app/[locale]/(privat)/history/_components/HistoryList.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/app/api/history/route.ts
  src/app/api/requests/route.ts
Due: npm run format:fix, npm run lint:fix

feat: add checking of token
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/layout.tsx
  src/app/api/me/route.ts
  src/app/api/session/route.ts
  src/app/providers.tsx
  src/components/Header/Header.tsx
  src/hooks/AuthListener.ts
Due: npm run format:fix, npm run lint:fix

feat: add code generation section
  package-lock.json
  package.json
  src/app/[locale]/(privat)/rest-client/components/GeneratedCode.tsx
  src/app/api/codegen/route.ts
Due: npm run format:fix, npm run lint:fix

feat: try to fix problem with abcence of cookies
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/history/_components/HistoryContent.tsx
  src/app/[locale]/(privat)/history/_components/HistoryList.tsx
  src/app/[locale]/(privat)/history/page.tsx
  src/app/[locale]/(privat)/variables/components/VariablesContent.tsx
  src/app/[locale]/page.tsx
  src/app/api/me/route.ts
  src/app/providers.tsx
  src/components/Header/Header.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/context/AuthContext.ts
  src/context/useAuth.ts
Due: npm run format:fix, npm run lint:fix

feat: make declaration fot code generation
  package-lock.json
  package.json
  src/app/[locale]/(privat)/history/page.tsx
  src/app/api/codegen/route.ts
  src/types/postman-code-generators.d.ts
  src/types/types.d.ts
Due: npm run format:fix, npm run lint:fix

feat: change history section view as requirements
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/(privat)/history/_components/HistoryContent.tsx
  src/app/[locale]/(privat)/history/_components/HistoryList.tsx
Due: npm run format:fix, npm run lint:fix

feat: add navigate to the previously executed HTTP request
  src/app/[locale]/(privat)/history/_components/HistoryList.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/types/types.d.ts
Due: npm run format:fix, npm run lint:fix

feat: add versel url to env file
  src/app/[locale]/(privat)/history/page.tsx
Due: npm run format:fix, npm run lint:fix

feat: add helper for ssr url
  src/app/[locale]/(privat)/history/page.tsx
Due: npm run format:fix, npm run lint:fix

feat: install and config jest, user-event, testing-library/dom, msw, next-router-mock
  package-lock.json
  package.json
  tsconfig.json
  vitest-setup.ts
Due: npm run format:fix, npm run lint:fix

feat: add tests for app
  .lintstagedrc.json
  eslint.config.js
  package.json
  src/app/__tests__/global-error.test.tsx
  src/app/__tests__/layout.test.tsx
  src/app/__tests__/page.test.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for auth sign-in/up
  src/app/[locale]/(auth)/__tests__/sign-in.test.tsx
  src/app/[locale]/(auth)/__tests__/sign-up.test.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for main page, header, variables page
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/variables/__tests__/page.test.tsx
  src/app/[locale]/(privat)/variables/components/VariablesContent.tsx
  src/app/[locale]/(privat)/variables/components/__tests__/VariablesContent.test.tsx
  src/app/[locale]/__tests__/layout.test.tsx
  src/app/[locale]/__tests__/page.test.tsx
  src/components/Header/Header.test.tsx
  src/components/Loader/Loader.test.tsx
  src/components/NavBar/NavBar.test.tsx
  src/components/NavBar/NavBar.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.test.tsx
  src/components/main/MainPublicPage/MainPublicPage.test.tsx
  src/test-utils/renderWithIntl.tsx
  src/test-utils/СlientWrapper.tsx
  vitest-setup.ts
  vitest-setup.tsx
  vitest.config.ts
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for rest-client components
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/HeaderRow.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/BodyEditor.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/EndpointInput.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/GeneratedCode.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/HeadersEditor.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/MethodSelector.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/ResponseViewer.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/RestClientContent.test.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for shared components and lazy loading
  messages/en.json
  messages/ru.json
  package-lock.json
  package.json
  src/__tests__/middleware.test.tsx
  src/app/[locale]/(privat)/history/__tests__/page.test.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/__tests__/page.test.tsx
  src/app/[locale]/(privat)/variables/__tests__/page.test.tsx
  src/app/[locale]/__tests__/error.test.tsx
  src/app/[locale]/__tests__/not-found.test.tsx
  src/app/globals.css
  src/app/hero.ts
  src/app/providers.tsx
  src/components/Auth/SignOutButton.test.tsx
  src/components/Auth/SignOutButton.tsx
  src/components/Footer/Footer.test.tsx
  src/components/Footer/Footer.tsx
  src/test-utils/renderWithIntl.tsx
Due: npm run format:fix, npm run lint:fix, npm run scss:fix, npm run test

feat: add tests for historyList
  src/app/[locale]/(privat)/history/__tests__/HistoryList.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/MethodSelector.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/RestClientContent.test.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for layouts
  package.json
  src/app/[locale]/(auth)/__tests__/layout.test.tsx
  src/app/[locale]/(auth)/__tests__/verified.test.tsx
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/(privat)/__tests__/layout.test.tsx
  src/app/__tests__/layout.test.tsx
  src/app/__tests__/loading.test.tsx
  src/app/__tests__/not-found.test.tsx
  src/app/layout.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add test for api/me and api/codegen
  src/app/[locale]/(privat)/history/__tests__/HistoryContent.test.tsx
  src/app/[locale]/[...rest]/__tests__/page.test.tsx
  src/app/__tests__/providers.test.tsx
  src/app/api/codegen/route.test.ts
  src/app/api/me/route.test.ts
  vitest.config.ts
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for request and session
  src/app/api/requests/route.test.tsx
  src/app/api/session/route.test.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add tests for api/history and api/singout
  src/app/api/history/route.test.ts
  src/app/api/history/route.ts
  src/app/api/signout/route.test.ts
Due: npm run format:fix, npm run lint:fix, npm run test

fix: adapt to new requestData structure for storing history records
  src/app/[locale]/(privat)/history/__tests__/HistoryList.test.tsx
  src/app/[locale]/(privat)/history/_components/HistoryList.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/app/api/history/route.ts
  src/app/api/requests/route.test.tsx
  src/app/api/requests/route.ts
  src/types/types.d.ts
Due: npm run format:fix, npm run lint:fix, npm run test

fix: fix auth
  src/__tests__/middleware.test.tsx
  src/app/__tests__/providers.test.tsx
  src/app/api/me/route.test.ts
  src/app/api/me/route.ts
  src/app/providers.tsx
  src/components/Auth/SignOutButton.test.tsx
  src/components/Auth/SignOutButton.tsx
  src/middleware.ts
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add 2 languages for rest-client
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/HeadersEditor.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/HeadersEditor.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/RestClientContent.test.tsx
  src/test-utils/renderWithIntl.tsx
Due: npm run format:fix, npm run lint:fix, npm run test

feat: add info about team
  messages/en.json
  messages/ru.json
  src/app/[locale]/page.tsx
  src/components/Footer/Footer.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/components/main/MainPublicPage/MainPublicPage.tsx
Due: npm run format:fix, npm run lint:fix

feat: add test for rest client store
  src/app/[locale]/(privat)/history/page.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/app/[locale]/(privat)/variables/components/VariablesContent.tsx
  src/store/__tests__/useRestStore.test.ts
Due: npm run format:fix, npm run lint:fix, npm run test

docs: add link for env
  README.md
  src/app/[locale]/(privat)/history/__tests__/HistoryList.test.tsx
  src/app/[locale]/(privat)/rest-client/__tests__/GeneratedCode.test.tsx
  src/app/__tests__/layout.test.tsx
  src/store/__tests__/useRestStore.test.ts
  src/types/types.d.ts
Due: npm run format:fix, npm run lint:fix, npm run test

fix: fix deploy
  src/test-utils/renderWithIntl.tsx
Due: npm run format:fix, npm run lint:fix

fix: fix url display
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/BodyEditor.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/EndpointInput.tsx
Due: npm run format:fix, npm run lint:fix

Path conditions:
  npm run format:fix: any of: *.{ts,tsx}
  npm run lint:fix: any of: *.{ts,tsx}
  npm run scss:fix: any of: *.{css,scss}
  npm run test: any of: *.{test,spec}.{ts,tsx}
