Repository Boys-Not-Found/rest-client-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, npm run lint:fix, npm run scss:fix, npm run test

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["npm run format:fix", "npm run lint:fix"],
  "*.{css,scss}": ["npm run scss:fix"],
  "*.{test,spec}.{ts,tsx}": ["npm run test"]
}

docs: make basic readme file
  README.md
  src/app/page.tsx
Due: npm run format:fix, npm run lint:fix

docs: add link for public deploy
  README.md
Due: none

docs: change deploy link
  README.md
Due: none

feat(auth): add email/password and Google sign in, sign up flow
  package-lock.json
  package.json
  src/app/auth/sign-in/page.tsx
  src/app/auth/sign-up/page.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Auth/SignOutButton.tsx
  src/lib/firebase/client.ts
Due: npm run format:fix, npm run lint:fix

feat: add basic structure
  messages/en.json
  messages/ru.json
  middleware.ts
  next.config.ts
  public/file.svg
  public/globe.svg
  public/images/og.webp
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/[locale]/(rest-client)/[method]/         page.tsx
  src/app/[locale]/auth/page.tsx
  src/app/[locale]/history/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/variables/page.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/metadata.ts
  src/app/page.tsx
  src/components/Loader/Loader.module.scss
  src/components/Loader/Loader.tsx
  src/i18n/navigation.ts
  src/i18n/request.ts
  src/i18n/routing.ts
  src/types.d.ts
  tsconfig.json
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: style sign-in form
  src/app/auth/sign-in/page.tsx
  src/lib/firebase/client.ts
Due: npm run format:fix, npm run lint:fix

fix: fix dashboard display
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/components/Auth/SignOutButton.tsx
  src/components/Loader/Loader.tsx
Due: npm run format:fix, npm run lint:fix

fix: fix server side locale use
  messages/ru.json
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(rest-client)/[method]/         page.tsx
  src/app/[locale]/history/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/variables/page.tsx
Due: npm run format:fix, npm run lint:fix

feat: add zustand, add userStore
  package-lock.json
  package.json
  src/store/userStore.ts
Due: npm run format:fix, npm run lint:fix

feat: add Header
  public/images/logo.png
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/Header/Header.tsx
Due: npm run format:fix, npm run lint:fix

feat: make Header sticky
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: add conditional rendering for MainPage
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/app/[locale]/page.tsx
  src/components/Auth/SignOutButton.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/components/main/MainPublicPage/MainPublicPage.tsx
  src/store/userStore.ts
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: add error boundary
  src/app/[locale]/error.tsx
  src/app/global-error.tsx
  src/app/globals.css
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: add verified page, check email before login, add forgot password link
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/(rest-client)/[method]/page.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/components/main/MainPublicPage/MainPublicPage.tsx
  src/lib/firebase/client.ts
  src/store/userStore.ts
Due: npm run format:fix, npm run lint:fix

feat: add 2 launguges for lockal error
  messages/en.json
  messages/ru.json
  src/app/[locale]/error.tsx
  src/app/[locale]/page.tsx
  src/app/global-error.tsx
Due: npm run format:fix, npm run lint:fix

feat: add global and locale not-found-page
  messages/en.json
  messages/ru.json
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/not-found.tsx
Due: npm run format:fix, npm run lint:fix

fix: password characters, remove email from store
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/store/userStore.ts
Due: npm run format:fix, npm run lint:fix

feat: add heroUI
  package-lock.json
  package.json
  src/app/globals.css
  src/app/hero.ts
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/Header/Header.tsx
  stylelint.config.js
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: add footer
  .vscode/settings.json
  public/images/rss-logo.svg
  src/app/[locale]/layout.tsx
  src/components/Footer/Footer.tsx
Due: npm run format:fix, npm run lint:fix

feat: add displayName to show name of user instead of email
  messages/en.json
  messages/ru.json
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(auth)/verified/page.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/store/userStore.ts
Due: npm run format:fix, npm run lint:fix

feat: add footer
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
Due: npm run format:fix, npm run lint:fix

feat: add privat routes for HistryPage and VariablesPage
  middleware.ts
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(rest-client)/[method]/page.tsx
  src/components/Auth/SignOutButton.tsx
Due: npm run format:fix, npm run lint:fix

feat: add middleware for privat routes
  src/app/loading.tsx
  src/middleware.ts
Due: npm run format:fix, npm run lint:fix

feat: add lazy loading for variables
  src/app/[locale]/history/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rest-client/page.tsx
  src/app/[locale]/variables/VariablesContent.tsx
  src/app/[locale]/variables/page.tsx
  src/middleware.ts
Due: npm run format:fix, npm run lint:fix

feat: add lazy loading for rest-client
  src/app/[locale]/history/page.tsx
  src/app/[locale]/rest-client/RestClientContent.tsx
  src/app/[locale]/rest-client/page.tsx
Due: npm run format:fix, npm run lint:fix

feat: add navbar for privat routes
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/history/page.tsx
  src/app/[locale]/(privat)/layout.tsx
  src/app/[locale]/(privat)/rest-client/RestClientContent.tsx
  src/app/[locale]/(privat)/rest-client/page.tsx
  src/app/[locale]/(privat)/variables/VariablesContent.tsx
  src/app/[locale]/(privat)/variables/page.tsx
  src/app/globals.css
  src/components/NavBar/NavBar.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

fix: rest client route, add page and components
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(privat)/rest-client/RestClient.tsx
  src/app/[locale]/(privat)/rest-client/RestClientContent.tsx
  src/app/[locale]/(privat)/rest-client/[method]/[[...params]]/components/ResponseViewer.tsx
  src/app/[locale]/(privat)/rest-client/components/BodyEditor.tsx
  src/app/[locale]/(privat)/rest-client/components/EndpointInput.tsx
  src/app/[locale]/(privat)/rest-client/components/GeneratedCode.tsx
  src/app/[locale]/(privat)/rest-client/components/HeadersEditor.tsx
  src/app/[locale]/(privat)/rest-client/components/MethodSelector.tsx
  src/app/[locale]/(privat)/rest-client/components/ResponseViewer.tsx
  src/app/[locale]/(privat)/rest-client/page.tsx
  src/components/NavBar/NavBar.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/hooks/useRestClient.ts
  src/lib/rest-utils.ts
  src/store/useRestStore.ts
Due: npm run format:fix, npm run lint:fix

feat: add slyles
  src/app/[locale]/(auth)/layout.tsx
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(privat)/layout.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/global-error.tsx
  src/app/globals.css
  src/app/not-found.tsx
  src/components/Auth/SignOutButton.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/components/main/MainPublicPage/MainPublicPage.tsx
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: implement Variables Store
  src/store/varsStore.ts
Due: npm run format:fix, npm run lint:fix

feat: implement adding and clearing of variables
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/layout.tsx
  src/app/[locale]/(privat)/variables/VariablesContent.tsx
  src/app/[locale]/(privat)/variables/components/VariableRow.tsx
  src/app/[locale]/(privat)/variables/components/VariablesContent.tsx
  src/app/[locale]/(privat)/variables/page.tsx
  src/components/NavBar/NavBar.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/store/variablesStore.ts
Due: npm run format:fix, npm run lint:fix

feat: add handleAdd, handleDelete, handleClear for variables
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/rest-client/RestClient.tsx
  src/app/[locale]/(privat)/rest-client/[method]/[[...params]]/components/ResponseViewer.tsx
  src/app/[locale]/(privat)/rest-client/components/EndpointInput.tsx
  src/app/[locale]/(privat)/rest-client/components/GeneratedCode.tsx
  src/app/[locale]/(privat)/rest-client/components/HeadersEditor.tsx
  src/app/[locale]/(privat)/rest-client/components/MethodSelector.tsx
  src/app/[locale]/(privat)/rest-client/components/ResponseViewer.tsx
  src/app/[locale]/(privat)/variables/components/VariablesContent.tsx
  src/app/globals.css
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

fix: fix routes for rest-client
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/BodyEditor.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/EndpointInput.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/GeneratedCode.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/HeadersEditor.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/MethodSelector.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/ResponseViewer.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/page.tsx
  src/app/[locale]/(privat)/rest-client/[method]/[[...params]]/components/ResponseViewer.tsx
  src/app/[locale]/(privat)/rest-client/page.tsx
  src/lib/rest-utils.ts
Due: npm run format:fix, npm run lint:fix

feat: install firebase admin, set up cookies
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/(privat)/history/HistoryList.tsx
  src/app/[locale]/(privat)/history/page.tsx
  src/app/api/history/route.ts
  src/app/api/session/route.ts
  src/app/api/signout/route.ts
  src/lib/firebase/admin.ts
  src/lib/firebase/client.ts
Due: npm run format:fix, npm run lint:fix

fix: console statement
  src/app/[locale]/(auth)/verified/page.tsx
Due: npm run format:fix, npm run lint:fix

feat: change styles for common view
  messages/en.json
  messages/ru.json
  public/images/logo.png
  public/images/rss-logo.svg
  src/app/[locale]/(privat)/layout.tsx
  src/app/[locale]/page.tsx
  src/app/favicon.ico
  src/components/Auth/SignOutButton.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/NavBar/NavBar.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/components/main/MainPublicPage/MainPublicPage.tsx
Due: npm run format:fix, npm run lint:fix, npm run scss:fix

feat: add lazy loading for rest-client page
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/RestClientContent.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/page.tsx
  src/app/[locale]/(privat)/variables/components/VariableRow.tsx
  src/middleware.ts
Due: npm run format:fix, npm run lint:fix

feat: change header accoding to requiements
  messages/en.json
  messages/ru.json
  src/components/Header/Header.tsx
Due: npm run format:fix, npm run lint:fix

feat: add template for lazy loadig for SSG (History Page)
  messages/en.json
  messages/ru.json
  src/app/[locale]/(privat)/history/_components/HistoryContent.tsx
  src/app/[locale]/(privat)/history/lazyPage.tsx
Due: npm run format:fix, npm run lint:fix

feat: implement variables for body andd header
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(auth)/verified/page.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/BodyEditor.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/HeaderRow.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/HeadersEditor.tsx
  src/app/[locale]/(privat)/rest-client/[[...rest]]/page.tsx
  src/app/[locale]/(privat)/variables/components/VariablesContent.tsx
  src/app/[locale]/(privat)/variables/page.tsx
  src/app/[locale]/page.tsx
  src/components/Auth/SignOutButton.tsx
  src/components/Header/Header.tsx
  src/components/main/MainPrivatPage/MainPrivatPage.tsx
  src/lib/variables.ts
  src/store/useUserStore.ts
  src/store/useVariablesStore.ts
Due: npm run format:fix, npm run lint:fix

feat: implement variables for url
  src/app/[locale]/(privat)/rest-client/[[...rest]]/components/EndpointInput.tsx
Due: npm run format:fix, npm run lint:fix
